*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#800000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;;
}
.container-main{
    height:auto;
    max-width:13500px;
    width:100vw;
}
header{
    position:sticky;
    top:0;
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:50px;
    background-color: black;
    color:white
}
.logo,.logo2{
    position:relative;
    margin-left:0px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.icon{
    position: absolute;
    height:25px;
    width:20px;
    background-color:white;
    border-radius:50%;
    color:black;
    margin:10px;
    left:10px;
}
.head{
    position: absolute;
    font-weight: bold;
    margin:10px;
    font-size: 20px;
    left:50px;
}
.divide,.head2{
   
    margin:10px;
    font-size:18px;
    font-weight:lighter;
}
.logo{
    display:flex;
    flex-direction:row;
    flex-flow:flex-end;
}
.head3{
    position: absolute;
    left:100px;
}
.start{
    position: absolute;
    border:none;
    border-radius: none;
    color:black;
    background-color: #7BF1A8;
    height:50px;
    letter-spacing:0.1px;
    font-size: 20px;
    padding:20px;
    right:0;
    cursor: pointer;
}
.start i{
    transform: rotate(-120deg);
}
@media(max-width:56em){
    .logo2{
        display: none;
    }
    .logo .head2{
        display:none;
    }
    .logo .divide{
        display: none;
    }
}