$font-family:"Cinzel", serif;
$primary-color:#1E1A4D;
.container{
    max-width:1280px;
    width:100%;
    height:auto;
    margin:auto;
    background:$primary-color;
    color:white;
}
.img{
    background:url("../Images/build.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:200px;
    width:auto;
}
nav{
    display:flex;
    flex-direction:row;
}
a{
    height:50px;
    width:100px;

    display:flex;
    align-items:center;
    justify-content:center;
}
a:hover{
    background-color:white;
    color:black;
    cursor: pointer;
}
section{
    background-color:white;
    color:black;
    p{
        margin:10px;
        border:2px solid black;
    }
}

@media (max-width:56em) {
    nav{
        display:flex;
        flex-direction:column;
    }
    a{
        width:100vw
    }
}